@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}


img {
    width: 100%;
    display: flex;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #18181B;

}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}



form {
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
    color: rgb(36, 60, 139);
    /* título */
}

label {
    margin-bottom: 8px;
    color: #333;
}

input {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #333;
    /* borda dos inputs */
    border-radius: 4px;
}

button {
    background-color: rgb(36, 60, 139);
    /* botão */
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(81, 108, 199);
    /* Efeito do botão */
}

p {
    text-align: center;
    margin-top: 16px;
    color: #333;
}

a {
    color: #3498db;
    /* links */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav {
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav-logo {
    max-width: 100px;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}

.blur {
    position: absolute;
    box-shadow: 0 0 1000px 50px #1d4ed8;
    z-index: -100;
}

footer {
    position: relative;
    display: grid;
    grid-template-columns: 400px repeat(3, 1fr);
    gap: 2rem;
}

footer .column .logo {
    max-width: 100px;
    margin-bottom: 2rem;
}

footer .column p {
    color: #ccc;
    margin-bottom: 2rem;
}

.copyright {
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
}